<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="clients" value="ERGO_LT,ERGO_LV,ERGO_EE,PZU,PAREX,HALYK,NOMAD,QALA,ATESHGAX"/>
      <add key="charsets" value="CL8MSWIN1251,BLT8MSWIN1257"/>
    </appSettings>
</configuration>